<div id="page">
    <div class="container">
        <div class="row">
          <div class="col">
            <img src="assets/images/whitefox.jpeg"/>
          </div>
          <div class="col">
              <h1>WhiteFox</h1>
              <h5>Food & Delivery</h5>
              <p>
                Convenience and variety at your fingertips is what you're yet to discover.<br><br>

                The strainous efforts of getting your meal from your local food joints has just been modified. White Fox food app has placed all your favourite eating joints on one platform and offers quick affordable delivery.<br><br> 
                
                The days of walking and waiting just to get an affordable meal have come to an end, you can get it quick, easy & effortless.
              </p>

              <a href="https://play.google.com/store/apps/details?id=com.MotechFusion.GreatWhiteFox" target="_blank"><img src="assets/images/google_play_logo.png" class="google_play"/></a>

              <div id="social_icons">
                <a href="https://twitter.com/WhiteFox_Food" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/whitefox_orderonline/" target="_blank"><i class="fab fa-instagram icon"></i></a>
                <a href="https://www.facebook.com/pg/Whitefox_Downloadfood-1046244135570368/about/?ref=page_internal" target="_blank"><i class="fab fa-facebook-f icon"></i></a>
              </div>

              <a (click)="viewMore()" class="readMore">Read more</a>
              <br>
              <br>
              <br>
              <br>
          </div>
        </div>
      </div>
</div>
