<h1>About WhiteFox</h1>

<p>
    WhiteFox is an Online food store platform which gives you convenience and variety through your fingertips basically focus on delivering local food like Ikota,plate,Dagwood and other essentials, its currently operating in Vaal and Soweto(Protea Glen, Mapetla and Naledi) and it’s available on playstore
</p>

<h5>For more info please feel free to get in touch with us.</h5>

<ul class="list-group">
    <li class="list-group-item"><a href="mailto:greatwhitefox1@gmail.com">greatwhitefox1@gmail.com</a></li>
    <li class="list-group-item"><a href="tel:0680460282">068 046 0282</a></li>
    <li class="list-group-item"><a href="https://twitter.com/WhiteFox_Food" target="_blank">Twitter</a></li>
    <a href="https://www.facebook.com/pg/Whitefox_Downloadfood-1046244135570368/about/?ref=page_internal" target="_blank"><li class="list-group-item">Facebook</li></a>
    <a href="https://www.instagram.com/whitefox_orderonline/" target="_blank"><li class="list-group-item">Instagram</li></a>
  </ul>
