/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@font-face{
    font-family: Glegoo;
    src: url(/assets/fonts/Glegoo-Regular.ttf);
}
@font-face{
    font-family: Josefin Sans;
    src: url(/assets/fonts/JosefinSans-Thin.ttf);
}

body{
    font-family:Glegoo,'Josefin Sans',sans-serif !important;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
